
body {
  margin: 0;
  padding: 0;
  background:white;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}
.navbar{
    display: inline;
    background-color: #170251;
    position: fixed;
    width: 100%;
    height: 120px;
    
}
img{
    height: auto;
    width: 300px;
    border-radius: 10px;
    margin-left: 20px;

}

.navbar-toggler{
    background-color: #fff; /* White background */
    border: none; /* No border */
    padding: 10px; /* Padding for better click area */
}
#mynavbar{
  background:#170251 ;
}

.container h1{
  font-size: 60px;
  text-align: center;
  color: white;
  margin-left: 14px;
  margin-top: 30px;
} 
.container h2{
  font-size: 40px;
  text-align: center;
  color: #ffeaa7;
  margin-top:50px;
}
 .container h3{
  width:100%;
  font-size: 2rem;
  margin-left: 0px;
  margin-top:40px;
  
  text-align: center;
  color: #dfe6e9;
  line-height: 3rem;
  margin-bottom: 10px;
}


.container h5{
  width: 100%;
  font-size: 1.3rem;
  color: #dfe6e9;
  margin-top: 40px;
}
 
header{
    width: 100%;
    min-height: 100vh;
  text-align: center;
  padding: 60px 20px;
  background-image: url(/abc.avif);
  background-size: cover;


}

header h1 {
  font-size: 48px;
  margin-bottom: 0px;
  color: #ffeaa7;
  margin-top: 150px;
;
}

header p {
  font-size: 20px;
  margin-bottom: 0px;
  color: #dfe6e9;

}


.btn {
  background-color: #6c5ce7;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a29bfe;
}


section {
  padding: 40px 20px;
  margin: 20px auto;
  max-width: 800px;
  background: linear-gradient(to right,#231884, #632b51e0, #3f3f7b);
  border-radius: 12px;
}


section h2 {
  text-align: center;
  margin-bottom: 20px;
  color:linear-gradiant(to right,#19163a, #302b63, #24243e);
  font-size: 26px;
}

ul, ol {
  font-size: 18px;
  line-height: 1.8;
  padding-left: 30px;
  color: #ffffff;
  font-family: rgb(13, 13, 69) ;
}


footer {
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #24243e;
  font-size: 14px;
  color: #b2bec3;
  height: 75px;
}

